

body{
    background-color: rgb(2, 2, 34);
    color: whitesmoke;
    padding: 15px
}

h1{
    color:bisque
}

h2{
    margin: 10px;
    text-align: center;
}

h4{
    background-color: bisque;
    color: rgb(2, 2, 34);
    padding: 15px;
    border-radius: 15px;
    max-width: 80%;
}

img{
    max-width: 100%;
    max-height: 200px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    justify-self: flex-end;
}

form{
    display: flex;
    flex-direction: row;
    margin: 30px;
}

label{
    margin-right: 25px;
    font-size: large;
}


#spacecrafts-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.card{
    width: 25%;
    margin: 15px;
    align-content: center;
    background-color: rgb(0, 255, 255, 0.25);
    border-radius: 15px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: aqua; */
}

.card:hover{
    background-color: rgb(0, 255, 255, 0.35);
}

.bottom-container{
    display: flex;
}

#description_container{
    max-width: 30%;
    display: flex;
    align-items: center;
}

#description-container p{
    max-width: 500px;
}

